= simple_form_for @planned_fee do |f|
  .form-group
    = f.input :name, label: t('planned_fee.name')
  .form-group
    = f.input :amount, label: t('transaction.amount')
  .form-group
    = f.association :currency, label: t('currency.currency')
  .form-group
    = f.button :submit, t("common.create")
    = link_to t('common.cancel'), :back, class: "btn btn-default"
