
%table.table
  %tr
    %th
      = t('planned_fee.name')
    %th
      = t('common.month')
    %th
      = t('transaction.amount')
    %th
      = t('currency.currency')
    %th
      = t('planned_fee.status')
    %th
      = t('common.actions')
  - @planned_fees.each do |planned_fee|
    %tr{class: (planned_fee.paid? ? "success" : "danger") }
      %td
        = planned_fee.name
      %td
        = I18n.t("date.singular_month_names")[planned_fee.created_at.month]
      %td
        = planned_fee.amount
      %td
        = planned_fee.currency.abbr_name
      %td
        = best_in_place(planned_fee, :status, as: :select, collection:{ '0' => "#{t('planned_fee.unpaid')}", "1" => "#{t('planned_fee.paid')}" } )
      %td
        = link_to t('common.edit'), edit_planned_fee_path(planned_fee.id),
                                    class: "btn btn-xs btn-default"
        = link_to t('common.delete'), planned_fee_path(planned_fee.id),
                            method: :delete, class: "btn btn-xs btn-danger",
                            data: {confirm: t('common.sure')}

= link_to t('common.create'), new_planned_fee_path, class: "btn btn-default"
