.row
  .col-md-4
    .panel.panel-default
      .panel-heading
        %h4
          = t('account.accounts')
      %table.table.table-condensed
        %tr
          %th
            = t('account.name')
          %th
            = t('account.funds')
        - @accounts.each do |account|
          %tr
            %td
              = account.name
            %td
              = number_in_money(account.currency, account.funds)
  .col-md-4
    .panel.panel-default
      .panel-heading
        %h4
          = t('planned_fee.planned_fees')
      %table.table.table-condensed
        %tr
          %th
            = t('planned_fee.name')
          %th
            = t('transaction.amount')
        - @planned_fees.each do |planned_fee|
          %tr
            %td
              = planned_fee.name
            %td
              = number_in_money(planned_fee.currency, planned_fee.amount)
        %tr.active
          %td.text-right
            Итого:
          %td
            = number_in_money(Currency.default_currency, @calculated_planned_fees_amount)
  .col-md-4
    .panel.panel-default
      .panel-heading
        %h4
          = t('common.top_10_categories')
      %table.table.table-condensed
        %tr
          %th
            = t('category.name')
          %th
            = t('transaction.amount')
        - @categories.each do |category|
          %tr
            %td
              = Category.find(category.cat).name
            %td
              = number_in_money(Currency.default_currency, category.am)
