= simple_form_for @currency do |f|
  .form-group
    = f.input :name, label: t('currency.name')
  .form-group
    = f.input :abbr_name, label: t('currency.abbr_name')
  .form-group
    = f.input :exchange_rate, label: t('currency.exchange_rate')
  .form-group
    = f.input :default_currency, label: t('currency.default_currency')
  .form-group
    = f.button :submit, t("common.create")
    = link_to t('common.cancel'), :back, class: "btn btn-default"
