= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .col-sm-4.col-sm-offset-4
    .form-group
      -# = f.label :email
      = f.input :email, as: :email, autofocus: true, label: false, placeholder: "Email"
    .form-group
      = f.input :password, as: :password, autocomplete: "off", label: false, placeholder: "Password"
    - if devise_mapping.rememberable?
      .form-group
        = f.input :remember_me, as: :boolean, inline_label: t('devise.sessions.remember_me')
    .form-group
      = f.button :submit, t('devise.sessions.sign_in')
