%table.table
  %tr
    %th
      = sortable 'created_at', t('common.date')
    %th
      = sortable 'from_account_id', t('transfer.from_account')
    %th
      = sortable 'to_account_id', t('transfer.to_account')
    %th
      = sortable 'amount', t('common.amount')
    %th
      = t('common.actions')
  - @transfers.each do |transfer|
    %tr
      %td
        = time_tag(transfer.created_at.to_date)
      %td
        = transfer.from_account.name.present? ? transfer.from_account.name : t('common.unknown')
      %td
        = transfer.to_account.name
      %td
        = number_in_money(transfer.amount)
      %td
        = link_to t('common.edit'), edit_transfer_path(transfer.id),
                                    class: "btn btn-xs btn-default"
        = link_to t('common.delete'), transfer_path(transfer.id),
                            method: :delete, class: "btn btn-xs btn-danger",
                            data: {confirm: t('common.sure')}

= link_to t('common.create'), new_transfer_path, class: "btn btn-default"
