= form_for @category do |f|
  .form-group
    = f.label :name, 'Category Name'
    = f.text_field :name, class: "form-control"
  .form-group
    = f.check_box :category_type
    Income
  .form-group
    = f.submit class: "btn btn-default"
