.row
  .col-sm-12
    = form_tag transactions_path, method: 'get', class: 'form-horizontal'
    .form-group
      .col-sm-2
        = select_month(@date, {use_month_names: t('date.singular_month_names')}, {class: 'form-control'})
      .col-sm-2
        = select_year(@date, {}, {class: 'form-control'})
      .col-sm-3
        = select_tag "account", options_from_collection_for_select(Account.all, 'id', 'name', params[:account]),
                              {include_blank: true, class: 'form-control'}
      .col-sm-3
        = select_tag "category", options_from_collection_for_select(Category.all, 'id', 'name', params[:category]),
                               {include_blank:true, class: 'form-control'}
      .col-sm-2
        = submit_tag t('common.apply'), name: 'filter', class: 'btn btn-info'
