= simple_form_for @transaction, html: {class: "form-horizontal"} do |f|
  .form-group
    .col-sm-2
      = f.label :date, t('common.date')
    .col-sm-8
      = f.input :created_at, label: false, as: :date,
                 order: [:day, :month, :year], class: "form-control"
  .form-group
    .col-sm-2
      = f.label :account_id, t('account.account')
    .col-sm-8
      = f.association :account, collection: Account.order(:name),label_method: :account_label,
                      label: false, include_blank: false
  .form-group
    .col-sm-2
      = f.label :category_id, t('category.category')
    .col-sm-8
      = f.association :category, collection: CategoryGroup.order(:name), as: :grouped_select, group_method: :ordered_categories, label: false, include_blank: false
  .form-group
    .col-sm-2
      = f.label :amount, t('transaction.amount')
    .col-sm-8
      = f.input :amount, as: :decimal, label: false
  .form-group
    .col-sm-2
      = f.label :comment, t('transaction.comment')
    .col-sm-8
      = f.input :comment, label: false
  .form-group
    .col-sm-2
      = f.button :submit, t('common.create')
      = link_to t('common.cancel'), :back, class: 'btn btn-default'
