.row
  .col-md-10
    %table.table
      %tr
        %th
          = t('common.date')
        %th
          = t('account.account')
        %th
          = t('category.category')
        %th
          = t('transaction.amount')
        %th
          = t('transaction.comment')
        %th
          = t('common.actions')
      - @transactions.each do |transaction|
        %tr
          %td
            = time_tag(transaction.created_at.to_date)
          %td
            = transaction.account.name
          %td
            = transaction.category.name
          %td
            = transaction.amount
          %td
            = transaction.comment
          %td
            = link_to t('common.edit'), edit_transaction_path(transaction.id),
                                      class: "btn btn-xs btn-default"
            = link_to t('common.delete'), transaction_path(transaction.id),
                                method: :delete, class: "btn btn-xs btn-danger",
                                data: { confirm: t('common.sure')}
.row
  .col-md-12
    = link_to "Create Transaction", new_transaction_path, {class: "btn btn-default"}
