= render 'filter_form'
.row
  .col-md-10
    %table.table.table-striped
      %tr
        %th
          = sortable 'created_at, id', t('common.date')
        %th
          = sortable 'account_id', t('account.account')
        %th
          = sortable 'category_id', t('category.category')
        %th
          = sortable 'amount', t('transaction.amount')
        %th
          = t('transaction.comment')
        %th
          = t('common.actions')
      - @transactions.each do |transaction|
        %tr
          %td
            = time_tag(transaction.created_at.to_date)
          %td
            = transaction.account.name
          %td
            = transaction.category.name
          %td
            = number_in_money(transaction.account, transaction.amount)
          %td
            = transaction.comment
          %td
            = link_to t('common.edit'), edit_transaction_path(transaction.id),
                                      class: "btn btn-xs btn-default"
            = link_to t('common.delete'), transaction_path(transaction.id),
                                method: :delete, class: "btn btn-xs btn-danger",
                                data: { confirm: t('common.sure')}
.row
  .col-md-2.col-md-offset-8
    = link_to t('common.create'), new_transaction_path, {class: "btn btn-default"}
