= simple_form_for @account do |f|
  .form-group
    = f.input :name, label: t('account.name')
  .form-group
    = f.input :funds, label: t('account.initial_amount')
  .form-group
    = f.association :currency, label: t('currency.currency')
  .form-group
    = f.input :active, label: t('account.active')
  .form-group
    = f.button :submit, (current_page?(new_account_path) ? t("common.create") : t("common.update"))
    = link_to t('common.cancel'), :back, class: "btn btn-default"
